# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VSCode
.vscode/
